{% extends 'base.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto bg-white p-8 text-center rounded-lg shadow-md">
        <h2 class="text-3xl font-bold text-center mb-6" style="color: blue;">Restablecer Contraseña</h2>
        <p class="text-center mb-4 text-gray-700">Introduce tu dirección de correo electrónico para restablecer tu contraseña.</p>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">Correo Electrónico:</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ form.email.errors.as_text }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary w-full" style="color: blueviolet;">Restablecer Contraseña</button>
        </form>
    </div>
{% endblock %}
